
@media (min-width: 700px) {
    .container{
        display: grid;
    }
}


.summary{
    grid-column: 1/3;

}

.list{
    overflow-y: scroll;
    max-height: 500px;
}

h2{
    border-bottom-style: solid;
}

i.icon.times.circle.outline{
    color:red
}


i.icon.check.circle.outline{
    color:green
}