
@media (min-width: 700px) {
    .container{
        display: grid;
    }
}

.App{
    padding: 18px;
}

h1{
    border-bottom-style: solid;
}

.summary{
    grid-column: 1/3;
    padding-bottom: 20px;
    max-width: 800px;
}

.list{
    overflow-y: scroll;
    max-height: 500px;
}

h2{
    border-bottom-style: solid;
}

i.icon.times.circle.outline{
    color:red
}


i.icon.check.circle.outline{
    color:green
}